/*Delete Item Button style fix*/
.submit-row a.deletelink {
    height: 35px;
}

/*Styling for sceditor*/
div.sceditor-container {
    float: left;
    width: 100% !important;
    margin-bottom: 10px;
}

button.json-editor-btn-add {
    width: 75px;
    color: green;
    left: 25px;
}

button.json-editor-btn-delete {
    width: 75px;
    color: red;
    left: 75px;
}
